<!DOCTYPE html>
<html>
<head>
    <title>home</title>
    <style>
    body{background-color: darkgrey;}
    h1 {
        color: blue;
        margin: 50px;
        padding: 30px;
    }
    
   
    </style>
</head>
<body>
    <div style="text-align: center">
            <h1> 안녕하세요. 문장을 입력하고 count를 눌러 단어 수를 세세요.</h1>

            <a href="{%url 'about'%}"><h3>About</h3></a>
            
        
            <form action="{%url 'result' %}">
                <textarea cols="100" rows="40" name="fulltext"></textarea>
                <br>
                <a class="btn btn-primary" href="#" role="button"></a>
                <button type="submit" class="btn btn-primary btn-lg">count</button>
            </form>
        

    </div>

</body>
</html>